/* Scss Document */

.team h1 {
	font-size:18px !important;
	font-weight:400 !important;
	margin-bottom: 0px !important;
	margin-top:5px !important;
}

.team p {
	margin-bottom:0px !important; 
}