
/*******************************************************************************/
/* POWERMAIL BASIS    */
/*******************************************************************************/

/* Fieldsset  & General Settings */
.tx-powermail .powermail_fieldset {
    background: none !important;
    border: 0px;
    clear: left;
    margin: 0 0 20px;
    padding: 0px;
	width:100%;
}

#inhalt .powermail_fieldset {
	width:100%;
}

#inhalt .powermail_field {
	width:100%;
}


.tx-powermail .powermail_fieldset .powermail_legend {
    color: #bbb;
    float: right;
    font-size: 14px;
    margin: 3px 0px 10px 0px;
    white-space: normal;
}

.powermail_legend {
 display:none !important;
}

label { margin:0px !important; padding-top:3px;}


.tx-powermail .powermail_fieldset .powermail_label {
  clear: both !important;
  display: block;
  float:none !important;
  font-weight: bold;
  width: 100% !important;
  padding: 0px 0px 2px 2px;
}


.tx-powermail,
label,
legend {
    color: #fff !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

.tx-powermail .powermail_fieldset .powermail_label[title]::after {
   display:none !important;
   height:0px;
}


legend[title="hide"] {
  display:none !important;
  height:0px;
}

legend[title="normal"] {
  font-weight:normal !important;
}






/* Input / Textarea / Select Field */
 .powermail_input {
  float:left !important;
  padding:3px !important;
  width:100%;
 }

legend {
  border-color: none !important;
  border-image: none !important;
  border-style: none none solid !important;
  border-width:0px !important;
 }


select {
  float:left !important;
}

select:after {
  clear:both;
}

.powermail_select  {
  padding:3px !important;
}

textarea.powermail_textarea {
  float:left !important;
}





/* Checkbox */
.powermail_check_outer {
    background-color: transparent !important;
	
    border:none !important;
    float: left !important;
    list-style: outside none none;
    margin: 0;
    padding: 3px;
    width: 100% !important;
	height:auto;
}

.powermail_check_inner {
	margin-bottom:5px !important;
	width:100% !important;
	height:auto;
	clear:both !important;
	padding-top:3px;
	border-top-width: 1px !important;
	border-top-style: solid !important;
	border-top-color: #C7C8CB!important;  
}

.powermail_check_legend {
  font-weight:bold !important;
  margin-bottom:2px !important;
  margin-top:0px !important;
  margin-left:15px !important;
}

.powermail_checkbox {
  float:left !important;
  line-height: normal;
  margin:3px !important;
  margin-right:15px;
  display:inline-block !important;
}
.powermail_check_inner label { 
 /*float:left;*/ clear:right; width:80%; padding-top:px;/* margin-left:25px;*/ padding-top:0px; padding-left:8px; margin-top:0px; line-height:normal;
}


input[type="hidden"] {
  float:left !important;
  height:0px;
  width:0px;
} 



/* Radio Button */
 .powermail_radio_legend {
  display:none;
 }

.powermail_radio_outer {
    background-color: transparent !important;
    border: none !important;
    float: left !important;
    list-style: outside none none;
    margin: 0;
    padding: 3px;
    width: 80%;
}

.powermail_radio_legend { display:none !important;}




/* Text only */
.powermail_fieldwrap_text {
  background-color: transparent !important;
  border: 0px !important;
  float: left !important;
  list-style: outside none none;
  margin: 0px !important;
  padding:5px 0px 2px 0px !important;
  width: 100% !important;
}

.powermail_fieldwrap_text span {
  font-weight:bold;
  padding:0px !important;
}





/* Tab Menu */
ul.powermail_tabmenu {
  list-style: outside none none;
  margin-bottom: 0px !important;
  margin-left:0px !important;
  padding: 0;

}

.tx-powermail .powermail_tabmenu > li {
  margin:0px !important;
  background: #eee none repeat scroll 0 0;
  border-left: 1px solid #bbb;
  border-right: 0px !important;
  border-top: 1px solid #bbb;
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  padding: 6px 15px !important;
  font-weight:bold;
  list-style:none;
}

.tx-powermail .powermail_tabmenu > li:before {
	display: none !important;
}

.tx-powermail .powermail_tabmenu > li:last-child {
    border-right: 1px solid #bbb !important;
}

.tx-powermail .powermail_tabmenu > li:hover {
   background: #BA0C2F none repeat scroll 0 0 !important; color:#FFFFFF;
 }

.tx-powermail .powermail_tabmenu > li.act {
  background: #BA0C2F none repeat scroll 0 0 !important;
  font-weight:bold !important; color:#FFFFFF !important;
}






/* Buttons Prev Next Submit */

/* prev */
a.powermail_tab_navigation_previous {
  background-color: #aaa;
  border: none !important;
  text-decoration:none !important;
  color:#fff !important;
}

a.powermail_tab_navigation_previous:hover {
  background-color:#BA0C2F !important;
}


/* next */
a.powermail_tab_navigation_next {
  background-color:#BA0C2F !important;
  float: right;
  border:none !important;
  text-decoration:none !important;
  color:#fff !important;
}

a.powermail_tab_navigation_next:hover {
   background-color:#960A25!important;
}


/* submit */
.powermail_submit {
  width:auto !important;
  padding: 5px 30px 5px 30px !important;
  background-color:#53A145 !important;
  border:none !important;
  color:#fff !important;
  cursor:pointer;
}

.powermail_submit:hover {
  background-color:#69BE5A !important;
}





/* Helper Classes Formular Layout */

.layout1, .layout2, .layout3 {
  display:none;
}

#powermail_field_trenner1, #powermail_field_trenner2 {
  display:none !important;
  height:0px;
}


.layout3 {
  display:block;
}

.normal {
  font-weight:400 !important;
}

.fett {
  font-weight:700 !important;
}


fieldset.layout3 a.powermail_tab_navigation_previous {
  float:left !important;
}

input.powermail_submit,
input[type="submit"] {
    float:left !important;
}






/* Typografie */
h3, .h3  {
font-family: 'Open Sans', sans-serif !important;
font-size:30px !important;
margin-bottom:15px !important;
font-style:normal;
font-weight:400 !important;
color: #fff;
text-transform:none;
padding: 0px;
  
}
 




/* Parsley Error Meldungen */

ul.parsley-errors-list   {
  list-style-type: none !important;
  list-style-image:none !important;
  float:left !important;
  margin-top:0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  padding: 0;

 /* margin:2px 0px 0px 285px !important;
  width:280px !important;  */
 
}

ul.parsley-errors-list li   {
  list-style-type: none !important;
  list-style-image:none !important;
  padding:3px !important;
  margin:0px !important;
  float:left !important;
}


.tx-powermail .powermail_fieldset .parsley-errors-list {
    background-color: transparent !important;
    border: none !important;
}


fieldset.layout3  ul.parsley-errors-list   {
  float:left !important;
  margin:2px 0px 0px 0px !important;
}




.layout3 { }



/* Antwort Meldung */
.tx-powermail .powermail_create, .tx-powermail .powermail_confirmation {
  background:none !important;
  border: 0px !important;
  padding: 0px;
}




/*******************************************************************************/
/* SEITEN
/*******************************************************************************/

/* Hosted Exchange */
#pm-weitere-alias, #pm-weitere-mailboxen {
  display:block;
  text-decoration:underline;
  cursor:pointer;
  float:right;
}
.more { 
float:right;
}


/* Virtual Server */









/*******************************************************************************/
/* RESPONISVE FÜR POWERMAIL   */
/******************************************************************************/

@media screen and (max-width: 980px)   { 

   .tx-powermail {
     width: 100%;
  }

 .tx-powermail .powermail_fieldset .powermail_field {
  width: 100%;
}


  .tx-powermail .powermail_fieldset .powermail_radio_outer, .tx-powermail .powermail_fieldset .powermail_captcha_outer, 
  .tx-powermail .powermail_fieldset .powermail_check_outer, .tx-powermail .powermail_fieldset .powermail_fieldwrap_text, 
  .tx-powermail .powermail_fieldset .powermail_fieldwrap_file_inner ul:not(.parsley-errors-list) {
      width: 100% !important;
  }

.tx-powermail .powermail_fieldset .powermail_label {
    width: 80% !important;
}


.tx-powermail .powermail_fieldset .powermail_label {
  float: none !important;
 }

 .tx-powermail .powermail_fieldset .parsley-errors-list {
  width: 100% !important;
  margin: 0px !important;
 }





}



@media screen and (max-width: 580px)   { 

   ul.powermail_tabmenu {
     margin-bottom:10px !important;
     border-bottom:1px solid #bbb !important;
   }

  .tx-powermail .powermail_tabmenu > li {
    display: block;
   }

   .tx-powermail .powermail_tabmenu > li {
     border-right:1px solid #bbb !important;
    
   }
 

}


